  * {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bbbbbb57;
  color: var(--text-dark);
  background-size: cover;
}

.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.titre{
  width: 10px; 
  height: 100px;
  background: #43a638;
  border-radius: 50%;
  margin: 200px auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(4360px);
  }
  to {
    transform: rotate(360deg);
  }
}



